@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700;800&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--font-family);
  /* (Opcional) */
  hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-family: Marope, Arial, Helvetica, sans-serif;
  --header-height: 3rem;
  /*========== Colors =========*/
  --hue-Color: 250;
  /* HSL Color Mode*/
  --first-color: hsl(var(--hue-Color),69%,61%);
  --first-color-secon: hsl(var(--hue-Color),69%,61%);
  --first-color-alt: hsl(var(--hue-Color),57%,53%);
  --first-color-lighter: hsl(var(--hue-Color),92%,85%);
  --title-color: hsl(var(--hue-Color),8%,15%);
  --text-color: hsl(var(--hue-Color),8%,45%);
  --text-color-light: hsl(var(--hue-Color),8%,65%);
  --input-color: hsl(var(--hue-Color),70%,96%);
  --body-color: hsl(var(--hue-Color),60%,99%);
  --container-color: #fff;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --font-semibold: 500;
  --font-bold: 700;
  --paddingContainer: 2.5rem ;
}

html, body {
  font-family: var(--font-family);
  background-color: var(--body-color);
}

.darkTheme {
  /* HSL Color Mode*/
  --first-color-second: hsl(var(--hue-Color),30%,8%);
  --title-color: hsl(var(--hue-Color),8%,95%);
  --text-color: hsl(var(--hue-Color),8%,75%);
  --input-color: hsl(var(--hue-Color),29%,16%);
  --body-color: hsl(var(--hue-Color),29%,16%);
  --container-color: hsl(var(--hue-Color), 29%, 16%);
}

h1,
h2,
h3 {
  font-weight: var(--font-bold);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

/* ========= ICONOS ========== */
.icon {
  color: currentColor;
  transition: inherit;
}

.icon:hover {
  cursor: pointer;
  font-weight: 800;
  transform: inherit;
}

.box {
  width: 120px;
  height: 50px;
  color: darkred;
}

/* ======== HELPER ===== */
.hidden {
  display: none;
}

.show {
  display: block;
}

/* ===== CONTAINER ======*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px var(--paddingContainer);
}

.h-1 {
  height: 8px;
}

.w-1 {
  width: 8px;
}

.h-2 {
  height: 16px;
}

.w-2 {
  width: 16px;
}

.h-3 {
  height: 24px;
}

.w-3 {
  width: 24px;
}

.h-4 {
  height: 32px;
}

.w-4 {
  width: 32px;
}

.h-5 {
  height: 40px;
}

.w-5 {
  width: 40px;
}

.h-6 {
  height: 48px;
}

.w-6 {
  width: 48px;
}

.h-7 {
  height: 56px;
}

.w-7 {
  width: 56px;
}

.h-8 {
  height: 64px;
}

.w-8 {
  width: 64px;
}

@media screen and (min-width: 1024px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --paddingContainer: 3rem ;
  }
}
.header {
  position: fixed;
  bottom: 0;
  right: 0;
  height: var(--header-height);
  width: 100vw;
  border-top: 1px solid var(--input-color);
  background-color: var(--container-color);
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  color: var(--text-color);
  z-index: 10;
}

.nav__menu {
  position: fixed;
  background-color: var(--container-color);
  box-shadow: 2px -1px 3px #ccc;
  border-radius: 10px 10px 0 0;
  width: 100vw;
  transition: transform 0.2s;
  transform: translateY(150%);
  left: 0;
  bottom: var(--header-height);
}

.menu--show {
  transform: translateY(0%);
}

.nav__list {
  padding: 2.8em 0;
}
.nav__list.grid {
  display: grid;
  grid-template: auto/repeat(3, 1fr);
  align-content: center;
  justify-items: center;
  row-gap: 2.8em;
}

.nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: var(--font-bold);
  color: var(--text-color);
  transition: transform 0.2s;
}
.nav__item:hover {
  color: var(--first-color);
  transform: scale(1.1);
}

.nav_btns {
  display: flex;
  gap: 0.5em;
  color: var(--text-color);
  transition: transform 0.2s;
  z-index: 10;
}
.nav_btns .icon:hover {
  color: var(--first-color);
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
