@use '../abstract/mixins' as mx;

.about{
    display: grid;

    grid-template-areas: "header"
                         "figure"
                         "body";
    grid-template-columns: 1fr ;
    grid-template-rows: 60px max-content 1fr;

    // height: 100%;
    width: 100%;
    gap: 1.8em;

    @include mx.mq(medium){
        grid-template-areas: "header header"
                             "figure body";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 1fr;
        // row-gap: 4rem;
        column-gap: 3.5rem;
    }

    @include mx.mq(large){
        row-gap: 3.8rem;
    }
}

.about__header{
    grid-area: header;
    align-self: center;
}

.about__figure{
    grid-area: figure;
    justify-self: center;

    @include mx.mq(medium){
        justify-self: flex-end;
    }
}
.about__body{
    grid-area: body;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    @include mx.mq(medium){
        max-width: 420px;
        gap: 2.8rem;
        align-items: start;
        justify-self: start;
    }
}
.about__figure{

    @include mx.mq(small){
        width: 200px;
        height: 200px;
    }

    @include mx.mq(medium){
        width: 280px;
        height: 280px;
        align-self: center;
    }

    @include mx.mq(large){
        width: 320px;
        height: 320px;
    }
}

.about__description{
    width: 100%;

    @include mx.mq(small){
        width: 80%;
    }
    @include mx.mq(medium){
        align-items: start ;
        width: 100%;
    }

}

.about__list{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    @include mx.mq(medium){
        width: 100%;
    }
}

.list__number{
    display: flex;
    justify-content: center;
    gap: .1em;
    &::after{
        content: '+';
    }
}
