@use '../abstract/mixins' as mx;

.header{
    position: fixed;
    bottom: 0;
    right: 0;
    height: var(--header-height);
    width: 100vw;
    border-top: 1px solid var(--text-color);
    background-color: var(--container-color);

    @include mx.mq(medium){
        position: static;
    }

}

.nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mx.mq(medium){
        gap: 2rem;
    }
}

.nav__logo{
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    color: var(--text-color);
    z-index: 10;
}

.nav__menu{
    position: fixed;
    background-color: var(--container-color);
    box-shadow: 2px -1px 3px #ccc;
    border-radius: 10px 10px 0 0;
    width: 100vw;
    transition: transform .2s;
    transform: translateY(150%);

    left: 0;
    bottom: var(--header-height);
    // display: flex;

    @include mx.mq(medium){
        .icon{
            display: none;
        }

        position: static;
        transform: none;
        width: 100%;
        border-radius: 0s;
        box-shadow: none;
        font-size: 1.2rem;
    }
}

.menu--show{
    transform: translateY(0%);
}

.nav__list{
    $padding-y: 2.8em;

    padding: $padding-y 0;
    display: grid;
    grid-template: auto /repeat(3, 1fr);
    align-content: center;
    justify-items: center;
    row-gap: $padding-y;

    @include mx.mq(medium){
       display:flex ;
       justify-content: end;
       gap: 2rem;
       padding: 0;
    }
}

.nav__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight:  var(--font-bold);
    color: var(--text-color);
    transition: transform .2s;

    &:hover{
        color: var(--first-color);
        transform: scale(1.1);
    }
}

.nav_btns{
    display: flex;
    gap: 1em;
    color: var(--text-color);
    transition: transform .2s;
    z-index: 10;
    .icon:hover{
        color: var(--first-color);
        transform: scale(1.1);
    }
    .icon--close,
    .icon--multibox {
        @include mx.mq(medium){
            display: none;
        }
    }
}