@use '../abstract/variables' as *;
@use '../abstract/mixins' as mx;

// @include mx.sizeIcon(8);


@include mx.mq(medium){
    :root{
        --header-height: 5rem;
        --paddingContainer: 5rem
    }
}

@include mx.mq(large){
    :root{
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;

        --paddingContainer: 10rem ;
    }
}


html, body {
    font-family: var(--font-family);
    background-color: var(--body-color);
    min-height: 100vh;
}

.darkTheme {
    /* HSL Color Mode*/
    --first-color-second: hsl(var(--hue-color),30%,8%);
    --title-color: hsl(var(--hue-color),8%,95%);
    --text-color: hsl(var(--hue-color),8%,75%);
    --input-color: hsl(var(--hue-color),29%,16%);
    --body-color: hsl(var(--hue-color),28%,12%);
    --container-color : hsl(var(--hue-color), 29%, 16%);
}

h1
,h2
,h3{
   font-weight: var(--font-bold); 
}
h1{
    font-size: var(--h1-font-size);
}
h2{
    font-size: var(--h2-font-size);
}
h3{
    font-size: var(--h3-font-size);
}

/* ========= ICONOS ========== */
.icon {
    color: currentColor;
    
    @include mx.mq(medium){
        width: 24px;
        height: 24px;
    }
}
.icon:hover {
    cursor: pointer;
    font-weight: 800;
}

/* ======== HELPER ===== */
.hidden {
    display: none;
}

.show {
    display: block;
}

/* ===== BUTTONS ====== */

.btn{
    background-color: var(--first-color);
    color: white;
    padding: 1.2em 1em;
    gap: .8em;
    width: fit-content;
    border-radius: .5em;

    &:hover{
        cursor: pointer;
        background-color: var(--first-color-alt);
    }
}

.btn--flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== CONTAINER ======*/

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0px  var(--paddingContainer) ;
}


